<template>
    <div class="login" v-if="loginDialogIsOpened">
        <div class="login-dialog">
            <h1>Login</h1>
            <div class="form-group">
                <input type="text" name="username" placeholder="Username: " class="from input" v-model="username">
            </div>
            <div class="form-group">
                <input type="password" name="username" placeholder="Password: " class="from input" v-model="password">
            </div>
            <div class="error" v-if="loginError">{{loginError}}</div>
            <button type="submit" class="btn btn-submit" @click="login" :disbled="!canSendRequest">Login</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Login",
        data() {
            return {
                username: null,
                password: null,
            }
        },
        methods: {
            login() {
                this.$store.dispatch('login' ,{username: this.username, password: this.password});
            }
        },
        computed: {
            loginError() {
              return this.$store.state.loginError;
            },
            canSendRequest() {
                return this.username && this.password;
            },
            loginDialogIsOpened() {
                return this.$store.state.loginDialogIsOpened;
            }
        }
    }
</script>

<style scoped>
    .login {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0.5);
        z-index: 10000;
    }
    .error {
        color: red;
    }
    .login-dialog {
        text-align: center;
        padding: 40px 80px;
        background: white;
    }
</style>