<template>
    <g>
        <line v-for="(line) of lines" class="line" :style="getLineStyle(line.line)" :x1="line.from.x" :x2="line.to.x"
              :y1="line.from.y" :y2="line.to.y"></line>
    </g>
</template>

<script>
    export default {
        name: "MapLines",
        computed: {
            lines() {
                if (this.selectedSchedules) {
                    return this.selectedSchedules.map((schedule) => {
                        return {
                            from: this.getPlaceCoordinatesById(schedule.from_place_id),
                            to: this.getPlaceCoordinatesById(schedule.to_place_id),
                            line: schedule.line,
                            type: schedule.type
                        };
                    });
                } else {
                    return [];
                }
            },
            selectedSchedules() {
                if (this.$store.state.selectedResultId !== null) {
                    return this.$store.state.resultList[this.$store.state.selectedResultId].schedules;
                } else {
                    return null;
                }
            },
        },
        methods: {
            getLineStyle(id) {
                return this.$store.getters['getLineStyles'].find(line => line.line === id);
            },
            getPlaceCoordinatesById(id) {
                const place = this.$store.state.places.find(place => place.id === id);
                if (place) {
                    return {
                        x: place.x,
                        y: place.y
                    }
                } else {
                    return null;
                }
            }
        },
    }
</script>

<style scoped>
    .line {
        stroke-width: 2px;
    }
</style>