<template>
    <div class="legend">
        <div class="legend-item" v-for="(line, index) of lines" :key="index">
            <div class="legend-item-name">{{line.type}} line {{line.line}} </div>
            <svg width="100" height="3">
                <line x1="0" x2="100" y1="0" y2="0" class="legend-item-line" :style="getLineStyle(line.line)"></line>
            </svg>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MapLegend",
        computed: {
            lines() {
                return this.$store.state.lines;
            }
        },
        methods: {
            getLineStyle(id) {
                return this.$store.getters['getLineStyles'].find(line => line.line === id);
            },
        }
    }
</script>

<style scoped>
    .legend {
        position: absolute;
        height: auto;
        background: white;
        padding: 20px;
        opacity: 0.9;
    }

    .legend-item {
        display: flex;
        width: 250px;
        justify-content: space-between;
        align-items: center;
    }

    .legend-item-name {
        font-weight: bold;
        margin: 5px 10px;
    }

    .legend-item-line {
        stroke-width: 8px;
    }
</style>