<template>
    <div class="place" @click.stop="" :style="style" :class="{'place--big': isFromPlaceOrToPlace,  'place--active': isOpenedPlace}">
        <div class="place-detail-container" v-if="isOpenedPlace">
            <place-details :place="place"></place-details>
        </div>
        <div class="place-dot" @click="openPlace"></div>
        <p class="place-name" @click="openPlace">
            {{place.name}}
        </p>
    </div>
</template>
<script>
    import PlaceDetails from "./PlaceDetails";
    export default {
        name: "MapPlace",
        components: {PlaceDetails},
        props: ['place'],
        computed: {
            isFromPlaceOrToPlace() {
              if(this.firstRouteSchedules) {
                  return this.place.id === this.firstRouteSchedules.slice().pop().to_place_id || this.place.id  === this.firstRouteSchedules.slice().shift().from_place_id
              }  else {
                  return false;
              }
            },

            firstRouteSchedules() {
                if(this.$store.state.resultList.length > 0) {
                    return this.$store.state.resultList[0].schedules;
                } else {
                    return null;
                }
            },
            style() {
                return {
                    left: this.place.x + "px",
                    top: this.place.y + "px"
                }
            },
            isOpenedPlace() {
                return this.place.id === this.$store.state.openedPlaceId;
            }
        },
        methods: {
            openPlace() {
                this.$store.commit('setOpenedPlace', this.place.id);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .place {
        position: absolute;
        &--active{
            z-index: 1000;
        }
        &--big {
            color: red;

            .place-dot {
                background: red;
                width: 20px;
                height: 20px;
                transform: translate(-10px, -10px);
            }
        }
        &-dot {
            cursor: pointer;
            border-radius: 100%;
            background: black;
            width: 10px;
            height: 10px;
            transform: translate(-5px, -5px);
        }

        &-name {
            margin-top: 5px;
            font-weight: bold;
            cursor: pointer;
            text-align: center;
            transform: translateX(-50%);
        }

        &-detail-container {
            width: 0;
            position: relative;
        }
    }
</style>