<template>
    <div class="map-view">
        <login></login>
        <div class="wrapper">
            <div class="container">
                <side-container></side-container>
                <svg-map></svg-map>
            </div>
        </div>
    </div>
</template>

<script>
    import Login from "./Login";
    import SideContainer from "./SideContainer";
    import SvgMap from "./SvgMap";
    export default {
        name: "MapView",
        components: {SvgMap, SideContainer, Login}
    }
</script>

<style scoped>

</style>