<template>
    <div class="login" v-if="loginDialogIsOpened">
        <div class="login-dialog">
            <h1>Place</h1>
            <form action="/"></form>
            <div class="form-group">
                <input type="text" name="name" placeholder="Name: " class="from input" v-model="name">
            </div>
            <div class="form-group">
                <input type="number" name="latitute" placeholder="Latitude: " class="from input" v-model="latitude">
            </div>
            <div class="form-group">
                <input type="number" name="longitude" placeholder="Longitude: " class="from input" v-model="longitude">
            </div>
            <div class="form-group">
                <input type="file" name="longitude" placeholder="Longitude: " class="from input" @change="selectFile">
            </div>
            <div class="form-group">
                <input type="password" name="description" placeholder="Description: " class="from input" v-model="password">
            </div>
            <button type="submit" class="btn btn-submit" @click="sendPlace">Login</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Login",
        data() {
            return {
            }
        },
        methods: {
            login() {
            }
        },
        computed: {
            loginError() {
            },
            fileToDisplay() {

            }
        }
    }
</script>

<style scoped>
    .login {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0.5);
        z-index: 10000;
    }
    .error {
        color: red;
    }
    .login-dialog {
        text-align: center;
        padding: 40px 80px;
        background: white;
    }
</style>