<template>
    <div class="place-list">
        <h1>Places</h1>
        <table class="places">
            <tr>
                <th class="head">Name</th>
                <th class="head">Description</th>
                <th class="head">Actions</th>
            </tr>
            <place-item v-for="(place, index) of places" :place="place" :key="index"></place-item>
        </table>
    </div>
</template>
<script>
    import PlaceItem from "./PlaceItem";

    export default {
        name: "PlacesList",
        components: {PlaceItem},
        computed: {
            places() {
                return this.$store.state.places;
            }
        }
    }
</script>

<style scoped>
    .place-list {

    }

    .head {
        font-weight: bold;
    }
</style>