<template>
    <div class="place-details">
        <img class="place-details__image" :src="imagePath" alt="Image of place">
        <h3 class="place-details__name">{{place.name}}</h3>
        <p class="place-details__description">
            {{place.description}}
        </p>
    </div>
</template>
<script>
    export default {
        name: "PlaceDetails",
        props: ['place'],
        computed: {
            imagePath() {
                return 'http://localhost:8000/storage/' + this.place.image_path;
            }
        }
    }
</script>

<style lang="scss" scoped>

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    .place-details {
        color: black;
        position: absolute;
        background: white;
        width: 250px;
        height: auto;
        padding: 20px;
        min-height: 200px;
        display: block;
        box-shadow: 6px 0 3px rgba(0,0,0,0.16);
        bottom: 110%;
        left: 50%;
        transform: translateX(-50%);
        animation: 0.2s fade-in;

        &__image {
            width: 100%;
        }
    }
</style>