<template>
    <tr class="place-item">
        <td class="place-name">
            {{place.name}}
        </td>
        <td class="place-description">
            {{place.description}}
        </td>
        <td class="controls">
            <button class="btn btn-submit" @click="editPlace"> Edit</button>
            <button class="btn btn-submit" @click="deletePlace"> Delete</button>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "PlaceItem",
        props: ['place'],
        methods: {
            editPlace() {

            },
            deletePlace() {

            }
        }
    }
</script>

<style scoped>
    .btn {
        margin: 5px;
    }
    .controls {
        min-width: 200px;
    }
</style>