<template>
    <div class="places">
        <div class="places__item" v-for="(place, index) of places" :key="index" @click.stop="$emit('placeSelected', place)">
            {{place.name}}  <span class="history" v-if="place.frequency > 0">History</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PlacesAutoComplete",
        props: ['filter'],
        computed: {
            places() {
                return this.$store.state.places.filter(({name}) => name.includes(this.filter)).sort((a,b) => {
                    console.log(a.frequency, b.frequency, a.frequency >= b.frequency);
                    if(a.frequency > b.frequency) {
                        return -1;
                    } else if(a.frequency < b.frequency){
                        return 1;
                    } else {
                        return a.name > b.name ? 1 : -1;
                    }
                });
            },
        },
    }
</script>

<style lang="scss" scoped>
    .places {
        background: white;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 2;
        border: 1px solid #f1f1f1;
        max-height: 300px;
        overflow-y: auto;
        &__item {
            cursor: pointer;
            padding: 10px;
            &:hover {
                background: #f1f1f1;
            }
        }

        .history {
            font-size: 10px;
            background: grey;
            color: white;
            border-radius: 20px;
            padding: 5px 5px;
        }
    }
</style>