<template>
    <div class="places">
        <places-list></places-list>
    </div>
</template>

<script>
    import PlacesList from "./PlacesList";
    export default {
        name: "PlacesView",
        components: {PlacesList}
    }
</script>

<style scoped>
    .places {
        max-width: 1280px;
        margin: 0 auto;
    }
</style>