<template>
    <ul class="result-list">
        <result-item v-for="(result, index) of results" :result="result" :index="index" :key="index">
        </result-item>
    </ul>
</template>

<script>
    import ResultItem from "./ResultItem";
    export default {
        name: "ResultList",
        components: {ResultItem},
        computed: {
            results() {
                return this.$store.state.resultList;
            }
        }
    }
</script>
<style scoped>

</style>