<template>
    <li @click="selectResult">
        <ul class="result-detail">
            <li>
                Route #{{index+1}}
            </li>
            <li>
                <label>From: </label>
                <p>{{fromPlace}}</p>
            </li>
            <li>
                <label>To: </label>
                <p>{{toPlace}}</p>
            </li>
            <li>
                <label>Time Schedule: </label>
                <p>{{departureTime}}-{{arrivalTime}} | {{totalTravelTime}} Minutes</p>
            </li>
            <li>
                <label>Transfers</label>
                <p>{{lines.length -1}}</p>
            </li>
            <li>
                <label>Lines</label>
                <div>
                    <p v-for="(line, index) in lines" :key="index" >{{line.type}} line {{line.line}}</p>
                </div>
            </li>
            <li><label>Times selected</label>
                <p>{{result.historySelections}}</p>
            </li>
        </ul>
    </li>
</template>

<script>
    export default {
        props: ['result', 'index'],
        name: "ResultItem",
        computed: {
            fromPlace() {
                return this.schedules.slice().shift().from_place_id;
            },
            lines() {
                return this.schedules.reduce((acc, el) => {
                    if(acc.length === 0) {
                        acc.push(el);
                    } else if(acc.slice().pop().line !== el.line) {
                        acc.push(el);
                    }
                    return acc;
                },[]);
            },
            departureTime() {
                return this.schedules.slice().shift().departure_time;
            },
            arrivalTime() {
                return this.schedules.slice().pop().arrival_time;
            },
            schedules() {
                return this.result.schedules;
            },
            toPlace() {
                return this.schedules.slice().pop().to_place_id;
            },
            departureTimeInt() {
                return parseInt(this.departureTime.substr(0,2)) *60 + parseInt(this.departureTime.substr(3,2));
            },
            arrivalTimeInt() {
                return parseInt(this.arrivalTime.substr(0,2)) *60 + parseInt(this.arrivalTime.substr(3,2));
            },
            totalTravelTime() {
                return this.arrivalTimeInt - this.departureTimeInt;
            },
        },
        methods: {
            async selectResult() {
                this.$store.commit('setSelectedResultId',this.index);
                await this.$store.dispatch('saveRouteSelection');
            }
        }
    }
</script>

<style scoped>

</style>