<template>
    <div class="search-form">
        <div class="form-group">
            <input type="search" name="from" placeholder="From: " class="from input" v-model="from"
                   @click.stop="openAutoCompleteFrom">
            <places-auto-complete v-if="isFromAutoCompleteOpen" @placeSelected="selectFrom" class="auto-complete"
                                  :filter="from"></places-auto-complete>
        </div>
        <div class="form-group">
            <input type="search" name="target" placeholder="Target: " class="input to" v-model="to"
                   @click.stop="openAutoCompleteTo">
            <places-auto-complete v-if="isToAutoCompleteOpen" @placeSelected="selectTo" class="auto-complete"
                                  :filter="to"></places-auto-complete>
        </div>
        <div class="form-group">
            <input type="time" class="input" name="departure" v-model="departure_time">
        </div>
        <div class="form-group form-content-right">
            <button type="submit" class="btn btn-submit" @click="searchRoutes" :disbled="!canSendSearchRequest">Get Routes</button>
        </div>
    </div>
</template>

<script>
    import PlacesAutoComplete from "./PlacesAutoComplete";

    export default {
        name: "SearchForm",
        components: {PlacesAutoComplete},
        data() {
            return {
                from: '',
                to: '',
                departure_time: '',
                isToAutoCompleteOpen: false,
                isFromAutoCompleteOpen: false,
            }
        },
        methods: {
            openAutoCompleteFrom() {
                this.isFromAutoCompleteOpen = true;
                window.addEventListener('click', this.closeAutoCompleteFrom);
            },
            closeAutoCompleteFrom() {
                this.isFromAutoCompleteOpen = false;
                window.removeEventListener('click', this.closeAutoCompleteFrom);
            },
            openAutoCompleteTo() {
                this.isToAutoCompleteOpen = true;
                window.addEventListener('click', this.closeAutoCompleteTo);
            },
            closeAutoCompleteTo() {
                this.isToAutoCompleteOpen = false;
                window.removeEventListener('click', this.closeAutoCompleteTo);
            },
            searchRoutes() {
                if(this.canSendSearchRequest) {
                    this.$store.dispatch('searchRoutes', this.departure_time);
                }
            },
            selectFrom(from) {
                this.from = from.name;
                this.$store.commit('setFrom', from);
                this.isFromAutoCompleteOpen = false;
            },
            selectTo(to) {
                this.to = to.name;
                this.$store.commit('setTo', to);
                this.isToAutoCompleteOpen = false;
            }
        },
        computed: {
            canSendSearchRequest() {
                return this.$store.state.from && this.$store.state.to;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .form-group {
        position: relative;
    }
</style>