<template>
    <aside class="side">
        <div class="item action">
            <ul class="nav">
                <li v-if="!isLoggedIn"><a href="#" @click="openLogin">Login</a></li>
                <li v-else><a href="#" @click="logout">Logout {{username}}</a></li>
            </ul>
        </div>
        <div class="item form">
            <h1 role="heading" class="heading">Bani Yas Travel</h1>
            <div class="panel-content">
                <search-form></search-form>
            </div>
        </div>
        <div class="item panel-list">
            <result-list></result-list>
        </div>
    </aside>

</template>

<script>
    import ResultList from "./ResultList";
    import SearchForm from "./SearchForm";

    export default {
        name: "SideContainer",
        components: {SearchForm, ResultList},
        methods: {
            openLogin() {
                this.$store.commit('setLoginDialogIsOpened', true);
            },
            logout() {
                this.$store.dispatch('logout');
            }
        },
        computed: {
            isLoggedIn() {
                return this.$store.state.token !== null;
            },
            username() {
                return this.$store.state.username;
            }
        }
    }
</script>

<style scoped>

</style>