<template>
    <div id="app">
        <div class="admin-menu" v-if="role === 'ADMIN'">
            <router-link to="/">Map</router-link>
            <router-link to="/places">Places</router-link>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
    import SvgMap from "./components/SvgMap";
    import SideContainer from "./components/SideContainer";
    import Login from "./components/Login";

    export default {
        name: 'App',
        mounted() {
            window.addEventListener('click', () => {
                this.$store.commit('setOpenedPlace', null);
            })
        },
        components: {
            Login,
            SideContainer,
            SvgMap,
        },
        computed: {
            role() {
                return this.$store.state.role;
            }
        },
        async created() {
            await this.$store.dispatch('fetchAllPlaces');
            await this.$store.dispatch('fetchAllLines');
        }
    }
</script>

<style lang="scss">
    /* Preset */
    * {
        font-family: 'Segoe UI', 'Arial', 'sans-serif';
        outline: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        opacity: .7;
    }

    body {
        margin: 0 auto;
    }

    /* Layout */
    .wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 1600px;
        height: auto;
        margin: auto;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        border: 1px solid #ddd;
    }

    /* Panel */
    .panel-content {
        padding: 20px;
    }

    .panel-list {
        border-top: 2px solid #efefef;
        max-height: 436px;
        overflow-y: auto;
    }

    /* Form */
    .form-group {
        display: block;
    }

    .form-group:not(:last-child) {
        margin-bottom: 20px;
    }

    /* Result */
    .result-list {
        display: block;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .result-list > li {
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        cursor: pointer;
        padding: 20px;
    }

    .result-list > li:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }

    .result-list > li:hover {
        background: #efefef;
    }

    .result-detail {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .result-detail li {
        display: flex;
        align-items: center;
    }

    .result-detail li:not(:last-child) {
        margin-bottom: 10px;
    }

    .result-detail label {
        font-weight: 500;
        width: 100px;
        font-size: .8em;
    }

    .result-detail p {
        flex: 1;
        margin: 0;
        padding: 0;
        font-size: .9em;
    }

    /* Side */
    .side {
        background: white;
        width: 360px;
        position: relative;
        height: 100%;
        border: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .item {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    /** General **/
    /* Nav */
    .nav {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .nav a {
        display: block;
        padding: 15px;
        text-align: center;
    }

    .nav li {
        flex: 1;
        list-style: none;
    }

    .nav li:not(:last-child) {
        border-right: 1px solid #ddd;
    }

    /* Heading */
    .heading {
        margin: 0;
        text-align: center;
        padding: 20px;
        padding-bottom: 10px;
        text-transform: uppercase;
        color: #233f8b;
    }

    /* Inputs and Button */
    .input {
        border: none;
        background: #efefef;
        border-radius: 4px;
        padding: 10px;
        color: gray;
        max-width: 320px;
        box-sizing: border-box;
    }

    .form-group .input {
        display: block;
        width: 100%;
    }

    .btn {
        background: #233f8b;
        color: white;
        font-weight: bold;
        border-radius: 4px;
        text-transform: capitalize;
        font-size: 14px;
        cursor: pointer;
        border: none;
        padding: 3px 10px;
        padding-bottom: 5px;
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .btn:active {
        background: #152b55;
    }

    .form-content-right {
        text-align: right;
    }

    /* Map */
    .map {
        flex: 1;
        height: 100%;
    }

    .map-container {
        position: relative;
        width: 1280px;
        height: 800px;
    }

    .admin-menu {
        width: 100%;
        background: #fafafa;
        padding: 10px 40px;
        text-align: center;
        a {
            margin-right: 30px;
            font-weight: bold;
        }
    }
</style>
